* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
}

ul,
p {
    font-size: 1.5rem;
}

pre code {
    border-radius: 10px;
    font-size: 1.20rem;
    background-color: #333 !important;
}

.url-input {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100vw;
    z-index: 100;
    display: none;
}

.contents-input {
    background-color: #0c1116;
    color: white;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    z-index: 100;
    border-radius: 20px;
    display: none;
}

.contents-input textarea {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 2rem;
    font-size: 1.2rem;
}

.one {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    padding: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow-y: scroll;
}

.two {
    background-color: #eee;
    position: fixed;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    padding: 2rem;
    z-index: 2;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
}

.two h3 {
    font-size: 1.2rem;
    text-align: left;
}

.two h3:before {
    content: "📌";
    margin-right: 0.5rem;
}

.two img {
    max-width: 100%;
}

.three {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 50vh;
    padding: 0.5rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.three p {
    text-align: center;
    width: 100%;
}

.three img {
    max-width: 100%;
}

.four {
    background-color: teal;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 35vh;
    padding: 2rem;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.fade {
    /* フェード用 */
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}


/* 表示状態 */
.two.is-open,
.three.is-open,
.four.is-open {
    opacity: 1;
    pointer-events: auto;
}

